<div class="container"
     fxLayout="column"
     fxFlex>
  <div>
    <div class="container-item">
      <input type="file" accept="image/*" class="file-input"
             (change)="onFileSelected($event)" #fileUpload>
      <button mat-mini-fab color="primary" class="attach-button"
              (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
      </button>
    </div>
    <div fxFlex class="container-item">
      <mat-form-field appearance="fill" fxFill>
        <mat-label>
          <div>Chosen File</div>
        </mat-label>
        <input matInput value="{{file ? file.name : ''}}" readonly>
      </mat-form-field>
    </div>
    <div fxFlex fxLayoutAlign="left" class="container-item">
      <div>
        <button class="upload-button" mat-stroked-button (click)="uploadFile(file)" color="primary">
          Upload
        </button>
      </div>
    </div>
  </div>
  <div fxLayout="column" fxFlex fxFill>
    <h1 class="uploaded-header">Uploaded photos:</h1>
    <div fxFlex fxLayoutAlign="center center" *ngIf="uploading">
      <mat-spinner [diameter]="50"></mat-spinner>
    </div>
    <mat-grid-list *ngIf="!uploading" fxFlex cols="6" class="scrolled-content">
      <mat-grid-tile *ngFor="let photo of photos" class="grid-tile">
        <mat-card class="example-card">
          <mat-card-content>
            <div class="fill">
              <img mat-card-image class="image" src="{{photo.fileContent}}">
            </div>
          </mat-card-content>
          <mat-card-content>
            <p class="font-10">
              {{photo.keyName}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="deleteFile(photo)">Delete</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
