<div class="container"
     fxLayout="column"
     fxFlex>
  <div class="container-item">
    <mat-form-field fxFlex="50%" appearance="fill">
      <mat-label fxFlex="350px">
        <div>Searched object</div>
      </mat-label>
      <input matInput fxLayoutAlign type="text" accept="image/*" [(ngModel)]="keyWord">
    </mat-form-field>
    <div class="container-item">
      <button class="search-button" mat-stroked-button (click)="searchPhotos(keyWord)" color="primary">
        Search
      </button>
    </div>
  </div>
  <div fxFill fxFlex fxLayout="column">
    <h1 class="searching-header">Found photo with named object: {{keyWord}}</h1>
    <div fxFlex fxLayoutAlign="center center" *ngIf="searching">
      <mat-spinner [diameter]="50"></mat-spinner>
    </div>
    <div *ngIf="emptyPhoto" class="not-found-header">No photo found with provided object.</div>
    <mat-grid-list *ngIf="!emptyPhoto" fxFlex cols="6" class="scrolled-content">
      <mat-grid-tile *ngFor="let photo of photos">
        <mat-card class="example-card">
          <mat-card-content>
            <div class="fill">
              <img mat-card-image class="image" src="{{photo.content}}">
            </div>
          </mat-card-content>
          <mat-card-content>
            <p class="font-10">
              {{photo.keyName}}
            </p>
          </mat-card-content>
          <mat-card-actions>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
